<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul>
    <li>
        1. Back button in the left top corner works as expected. It is navigating to /list.
    </li>
    <li>
        2. Android hardware back button isn't navigating to /list. I wish it is working the same way as back button in the left top corner.
    </li>
  </ul>
</ion-content>
